spring:
  application:
    name: student-manage-system-backend

  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/student_info?useSSL=false&serverTimezone=Asia/Shanghai

    username: root
    password: ck041121

    redis:
      host: localhost
      port: 6379

  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB

mybatis:
  configuration:
    map-underscore-to-camel-case: true

server:
  port: 8081

minio:
  endpoint: http://localhost:9000
  access-key: admin
  secret-key: password
  bucket-name: student-system
